/* style.css */

/* Copyright © Vincent Kooij 2025. All rights reserved. */

/* begin better defaults */
*, ::after, ::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0 solid;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

a {
   color: inherit;
   text-decoration: inherit;
}
/* end better defaults */

/* begin better compatibility */
:root {
   --color-neutral-25: #fdfdfd;
   --color-neutral-700: #404040;
   --color-stone-100: #f5f5f4;
   --color-stone-200: #e7e5e4;
}
/* end better compatibility */

/* begin site background */
:root {
   --color-neutral-25: oklch(99.5% 0 0);
}

html {
   background-image: none;
   background-color: var(--color-neutral-25);
   background-blend-mode: screen;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

@media print {
   html {
      background: unset;
   }
}
/* end site background */

/* begin center body */
body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   min-height: 100vh;
}
/* end center body */

/* begin color */
body { color: var(--color-neutral-700); }

.bg-stone-100 { background-color: var(--color-stone-100); }

@media print {
   body { color: var(--color-black); }

   .bg-stone-100 { background-color: unset; }
}
/* end color */

/* begin font and styling */
/* https://modernfontstacks.com */
body {
   font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
   font-size: 1.15rem;
   font-weight: 100;
   line-height: 1.67rem;
}

.content-container {
   padding: 2.00rem;
}

h1 {
   font-size: 1.65rem;
   font-weight: 700;
   line-height: 2.40rem;
   margin-top: 1.20rem;
   margin-bottom: 1.20rem;
}

p {
   margin-top: 1.20rem;
   margin-bottom: 1.20rem;
}

.almost-there {
   font-size: 1.15rem;
   font-weight: 400;
   line-height: 1.67rem;
   margin-top: 1.20rem;
   margin-bottom: 1.20rem;
   padding-top: 5.00rem;
}

.coming-soon {
   font-size: 6.00rem;
   font-weight: 400;
   line-height: 7.50rem;
   word-spacing: 100vw;
   padding-bottom: 4.00rem;
}

figure {
   flex-wrap: wrap;
   align-items: center !important;
   gap: 1.00rem;
   margin-top: 2.00rem;
   margin-bottom: 2.00rem;
}

figcaption {
   font-size: 1.05rem;
   font-weight: 100;
   line-height: 1.45rem;
   text-align: justify;
}

a {
   text-decoration-line: underline;
   text-decoration-thickness: 0.10rem;
}

a::after {
   display: inline-block;
   width: 0.70rem;
   height: auto;
   margin-left: 0.25rem;
   content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l82.7 0-201.4 201.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3 448 192c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160c0-17.7-14.3-32-32-32L320 0zM80 96C35.8 96 0 131.8 0 176L0 432c0 44.2 35.8 80 80 80l256 0c44.2 0 80-35.8 80-80l0-80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 80c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-256c0-8.8 7.2-16 16-16l80 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 96z"/></svg>');
}

a:hover {
   background-color: var(--color-stone-200);
}
/* end font and styling */